---
layout: default
---

<!-- ##### Welcome Area Start ##### -->
{% include jumbotron.html %}
<!-- ##### Welcome Area End ##### -->

<!-- ##### Top Catagory Area Start ##### -->
{% include front-category-banner.html %}
<!-- ##### Top Catagory Area End ##### -->

<!-- ##### CTA Area Start ##### -->
{% include teamwear-banner.html %}
<!-- ##### CTA Area End ##### -->

<!-- ##### New Arrivals Area Start ##### -->
{% include front-products-showcase.html %}
<!-- ##### New Arrivals Area End ##### -->

<!-- ##### Brands Area Start ##### -->
{% include front-brands.html %} 
<!-- ##### Brands Area End ##### -->

<style>
  #instafeed a{display:inline-block;width:20%;padding:10px;}
  #instafeed a img{width:100%}
  @media only screen and (max-width: 767px) {
    #instafeed a {
      width:50%
    }
  }
</style>

<div id="instafeed" class="container section-padding-80">
</div>
