<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <link rel="shortcut icon" href="/resources/content/files/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/reset.css?hash=6f3bd544"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/font-awesome.css?hash=6f3bd544"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/typography.css?hash=6f3bd544"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/forms.css?hash=6f3bd544"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/flexslider.css?hash=6f3bd544"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/ccproductview.css?hash=6f3bd544"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/colorbox.css?hash=6f3bd544"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/carouFredSel.css?hash=6f3bd544"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/jquery.instastream.css?hash=6f3bd544"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/jqui/jqui.css?hash=6f3bd544"/>    
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/styles.css?hash=6f3bd544"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/dd.css?hash=6f3bd544"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/viseli.css?hash=6f3bd544"/>
    <link rel="stylesheet" href="https://sabnanifootball.mysirclo.com/resources/css/responsive.css?hash=6f3bd544"/>
    
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/jquery.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/jcarousel.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/cc_ajax.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/jquery.validate.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/jquery.colorbox-min.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/jquery.elevateZoom-2.5.5.min.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/jquery.instastream.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/ccproductview.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/carouFredSel.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/viseli.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/site.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/flexslider.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/jquery.dd.js?hash=6f3bd544"></script>
    <script type="text/javascript" src="https://sabnanifootball.mysirclo.com/resources/js/jquery.nested.js?hash=6f3bd544"></script>

    
  </head>

  <body>
    <!-- header -->
    <div id="header">
        <div class="grid">
            <!-- mobile navigation -->
            <div class="clearfix show-mobile">
                <div id="nav-small" class="col-xs-4 visible-xs-block visible-sm-block visible-md-block">
                    <nav id="top_navigation_small">
                        <span id="menu-point"><i class="fa fa-bars" aria-hidden="true"></i></span>
                        <div class="button_wrapper">
                            <div class="pos-relative box-nav-wrapper">
                                <span id="close-nav-link"></span>
                                <div class="pos-relative nav-wrapper">

                                    <form id="search-form-small" class="clearfix wrapper" action="https://sabnanifootball.mysirclo.com/products/search">
                                        <input name="query" type="text" class="span2" value="" placeholder="Search">
                                    </form>
                                    <div class="nav-top-menu">
                                        <ul>
                                            <li class="first"><a href="https://sabnanifootball.mysirclo.com/account/register" class="fx-menu">Register</a></li>
                                            <li class="last"><a href="https://sabnanifootball.mysirclo.com/account/login" class="fx-menu">Log In</a></li>
                                        </ul>
                                    </div>
                                    <div class="menu-hd">
                                        <h3>menu</h3>
                                        <a href="/" id="close-button-menu"></a>
                                    </div>
                                    <ul>
                                        <div class="main-menu">
                                            <ul class="clearfix menu-listing">

                                                <li class="menu-item item-0 first">
                                                    <a href="https://sabnanifootball.mysirclo.com/blog" class="">news</a>

                                                </li>

                                                <li class="menu-item item-1">
                                                    <a href="https://sabnanifootball.mysirclo.com/stadium" class="">Stadium</a>

                                                </li>

                                                <li class="menu-item parent item-2">
                                                    <a href="https://sabnanifootball.mysirclo.com/products/category/clubs" class="dropdown-toggle">Clubs</a>

                                                    <ul class="sub-nav dropdown-menu hidden-phone hidden-tablet ">
                                                        <li class="submenu-item  first last"><a href="https://sabnanifootball.mysirclo.com/products/category/clubs/serpong-city-fc">Serpong City FC</a>
                                                        </li>
                                                    </ul>

                                                </li>

                                                <li class="menu-item parent item-3">
                                                    <a href="https://sabnanifootball.mysirclo.com/products/category/apparel" class="dropdown-toggle">Apparel</a>

                                                    <ul class="sub-nav dropdown-menu hidden-phone hidden-tablet ">
                                                        <li class="submenu-item  first"><a href="https://sabnanifootball.mysirclo.com/products/category/apparel/football-fashion">Football Fashion</a>
                                                        </li>
                                                        <li class="submenu-item "><a href="https://sabnanifootball.mysirclo.com/products/category/apparel/training-wear">Training Wear</a>
                                                        </li>
                                                        <li class="submenu-item  last"><a href="https://sabnanifootball.mysirclo.com/products/category/apparel/team-custom">Team Custom</a>
                                                        </li>
                                                    </ul>

                                                </li>

                                                <li class="menu-item item-4">
                                                    <a href="https://sabnanifootball.mysirclo.com/products/category/equipment" class="">Equipment</a>

                                                </li>

                                                <li class="menu-item item-5 last">
                                                    <a href="https://sabnanifootball.mysirclo.com/contact" class="">Contact</a>

                                                </li>
                                            </ul>
                                        </div>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!--end nav for mobile-->

                <div id="header-site-logo">
                    <div class="wrapper">
                        <div class="logo">
                            <a href="/">
                                <img src="{{site.baseurl}}/images/logo.png">
                            </a>
                        </div>
                    </div>
                </div>

                <div id="header-shopping-cart" class="span6 col-lg-5 pull-right">
                    <div class="wrapper">
                        <div class="cart-item wrapper">
                            <div class="cart-info">
                                <a href="https://sabnanifootball.mysirclo.com/cart" id="view_cart">

                                    <span id="total_item_cart" class="header-cart-info">0</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clearfix header-menu hide-mobile">
                <div class="logo">
                    <a href="/">
                        <img src="//files.sirclocdn.xyz/sabnanifootball/settings/_181109154354_Logo-Tipis Putih Transparan.png">
                    </a>
                </div>
                <div class="top-menu">
                    <ul>
                        <li class="language-wrap first"> </li>
                        <li><a href="https://sabnanifootball.mysirclo.com/account/login" class="hd-account">Log In / Sign Up</a></li>
                        <li><a href="https://sabnanifootball.mysirclo.com/cart">Cart</a>
                        </li>
                        <li class="last"><span class="count-bubble"><span>0</span></span>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="menu" class="clearfix hide-mobile">
                <div class="main-menu">
                    <ul class="clearfix menu-listing">

                        <li class="menu-item item-0 first">
                            <a href="https://sabnanifootball.mysirclo.com/blog" class="">news</a>

                        </li>

                        <li class="menu-item item-1">
                            <a href="https://sabnanifootball.mysirclo.com/stadium" class="">Stadium</a>

                        </li>

                        <li class="menu-item parent item-2">
                            <a href="https://sabnanifootball.mysirclo.com/products/category/clubs" class="dropdown-toggle">Clubs</a>

                            <ul class="sub-nav dropdown-menu hidden-phone hidden-tablet ">
                                <li class="submenu-item  first last"><a href="https://sabnanifootball.mysirclo.com/products/category/clubs/serpong-city-fc">Serpong City FC</a>
                                </li>
                            </ul>

                        </li>

                        <li class="menu-item parent item-3">
                            <a href="https://sabnanifootball.mysirclo.com/products/category/apparel" class="dropdown-toggle">Apparel</a>

                            <ul class="sub-nav dropdown-menu hidden-phone hidden-tablet ">
                                <li class="submenu-item  first"><a href="https://sabnanifootball.mysirclo.com/products/category/apparel/football-fashion">Football Fashion</a>
                                </li>
                                <li class="submenu-item "><a href="https://sabnanifootball.mysirclo.com/products/category/apparel/training-wear">Training Wear</a>
                                </li>
                                <li class="submenu-item  last"><a href="https://sabnanifootball.mysirclo.com/products/category/apparel/team-custom">Team Custom</a>
                                </li>
                            </ul>

                        </li>

                        <li class="menu-item item-4">
                            <a href="https://sabnanifootball.mysirclo.com/products/category/equipment" class="">Equipment</a>

                        </li>

                        <li class="menu-item item-5 last">
                            <a href="https://sabnanifootball.mysirclo.com/contact" class="">Contact</a>

                        </li>
                    </ul>
                </div>

                <div class="main-menu menu-select">
                    <select class="main-menu-select">
                        <option>MENU</option>

                        <option value="https://sabnanifootball.mysirclo.com/blog">news</option>

                        <option value="https://sabnanifootball.mysirclo.com/stadium">Stadium</option>

                        <option value="https://sabnanifootball.mysirclo.com/products/category/clubs">Clubs</option>
                        <option value="https://sabnanifootball.mysirclo.com/products/category/clubs/serpong-city-fc">- Serpong City FC</option>

                        <option value="https://sabnanifootball.mysirclo.com/products/category/apparel">Apparel</option>
                        <option value="https://sabnanifootball.mysirclo.com/products/category/apparel/football-fashion">- Football Fashion</option>

                        <option value="https://sabnanifootball.mysirclo.com/products/category/apparel/training-wear">- Training Wear</option>

                        <option value="https://sabnanifootball.mysirclo.com/products/category/apparel/team-custom">- Team Custom</option>

                        <option value="https://sabnanifootball.mysirclo.com/products/category/equipment">Equipment</option>

                        <option value="https://sabnanifootball.mysirclo.com/contact">Contact</option>
                    </select>
                </div>

                <form id="search" action="https://sabnanifootball.mysirclo.com/products/search" method="get" class="clearfix">
                    <input class="required search" id="query" type="text" name="query" placeholder="Search" value="">
                    <input class="submit" type="submit" value="">
                </form>

            </div>

        </div>
    </div>
    <!-- // end header -->
    <!-- middle -->
    <div id="middle">
        <div id="slider">
            <div class="banner flexslider">
                <div class="flex-viewport" style="overflow: hidden; position: relative; height: 563px;">
                    <ul class="slides slides-listing" style="width: 1000%; transition-duration: 0s; transform: translate3d(-1440px, 0px, 0px);">
                        <li class="last clone" style="width: 1440px; float: left; display: block;">
                            <div class="slide-item">
                                <div class="slide-image">
                                    <a href="/stadium"> <img src="//files.sirclocdn.xyz/sabnanifootball/banners/_181106171920_IMG_20180807_141517_ori.jpg" alt="Lapangan">
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="first flex-active-slide" style="width: 1440px; float: left; display: block;">
                            <div class="slide-item">
                                <div class="slide-image">
                                    <a href="/products/all"> <img src="//files.sirclocdn.xyz/bagaskara-staging/banners/131206175405_banner3_ori_ori.jpg" alt="Slide Sample 3">
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li style="width: 1440px; float: left; display: block;" class="">
                            <div class="slide-item">
                                <div class="slide-image">
                                    <a href="/products/category/apparel/team-custom"> <img src="//files.sirclocdn.xyz/bagaskara-staging/banners/131206175337_banner2_ori_ori.jpg" alt="costum jersey">
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="last" style="width: 1440px; float: left; display: block;">
                            <div class="slide-item">
                                <div class="slide-image">
                                    <a href="/stadium"> <img src="//files.sirclocdn.xyz/sabnanifootball/banners/_181106171920_IMG_20180807_141517_ori.jpg" alt="Lapangan">
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="first clone" style="width: 1440px; float: left; display: block;">
                            <div class="slide-item">
                                <div class="slide-image">
                                    <a href="/products/all"> <img src="//files.sirclocdn.xyz/bagaskara-staging/banners/131206175405_banner3_ori_ori.jpg" alt="Slide Sample 3">
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <ol class="flex-control-nav flex-control-paging">
                    <li><a class="flex-active">1</a></li>
                    <li><a class="">2</a></li>
                    <li><a class="">3</a></li>
                </ol>
                <ul class="flex-direction-nav">
                    <li><a class="flex-prev" href="#">Previous</a></li>
                    <li><a class="flex-next" href="#">Next</a></li>
                </ul>
            </div>
        </div>
        <div class="home-widget grid clearfix">
            <div class="widget ">
                <p><img src="https://files.sirclocdn.xyz/sabnanifootball/files/IMG_20180807_141633.jpg" width="4160" height="3120"></p>
            </div>
            <div class="widget  middle">
                <p><img src="https://files.sirclocdn.xyz/sabnanifootball/files/poster%20custom%20jersey-2.jpg" width="3337" height="1598"></p>
            </div>
            <div class="widget ">
                <p><img src="https://files.sirclocdn.xyz/sabnanifootball/files/Sabnani%20Sports%20Pants%20%282%29.jpg" width="3120" height="4160"></p>
            </div>
        </div>
        <div class="short-about">
            <div class="grid ">
                <div class="single-first-p" style="text-align: justify;">
                    <p>
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- // middle -->
    <div id="footer">
      <div class="grid footer-holder clearfix">
          <div class="foot-block first-block">
              <h3>CATEGORIES<a href="/about" style="font-size: 10px;"><br></a></h3>
              <ul>
                  <li class="first"><a href="/about">About Us</a></li>
                  <li><a href="/stadium">Stadium</a></li>
                  <li><a href="/clubs">Clubs</a></li>
                  <li><a href="/apparel">Apparel</a></li>
                  <li class="last"><a href="/equipment">Equipment</a></li>
              </ul>
          </div>
          <div class="foot-block">
              <h3>CUSTOMER SERVICE</h3>
              <ul>
                  <li class="first">
                      <a href="/about-us"></a>
                  </li>
                  <li><a href="/contact">Contact Us</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/legal/privacy-policy">Privacy Policy</a></li>
                  <li class="last"><a href="/payment_notif">Payment Confirmation</a></li>
              </ul>
          </div>
          <div class="foot-block">
              <h3></h3>
              <ul>
                  <li class="first"><a href="/faqs">FAQs</a></li>
                  <li><a href="/CUSTOMER_SERVICE/shipping-and-returns">Shipping and Returns</a></li>
                  <li><a href="/CUSTOMER_SERVICE/international-shipping">International Shipping</a></li>
                  <li class="last"><a href="/CUSTOMER_SERVICE/track-your-order">Track Your Order</a></li>
              </ul>
          </div>
          <div class="foot-block">
              <h3>Newsletter</h3>
              <form id="newsletter" action="https://sabnanifootball.mysirclo.com/newsletter" method="post">
                  <input class="required email" id="email" type="text" name="email" placeholder="Your Email Address">
                  <input class="submit" type="submit" value="OK">
              </form>

              <div style="clear:both;" class="clearfix soc">
                  <h3>Our Social Media</h3>
                  <a href="https://twitter.com/sabnanifootball" class="soc_tw sc" target="_blank"></a>
                  <a href="http://www.facebook.com/sabnanifootball" class="soc_fb sc" target="_blank"></a>
                  <a href="https://www.instagram.com/sabnanifootball" class="soc_insta sc" target="_blank"></a>
              </div>
          </div>
      </div>
      <div class="footer-credit">
          <div class="grid clearfix">
              <span class="copyright"><ul>
  <li class="first"><span style="line-height: 1.5;"><ul>
  <li class="first last">FUTURE BEGINS HERE</li>
  </ul></span></li>
              <li class="last">
                  Powered By <a href="//sirclo.com" target="_blank">SIRCLO</a>.
              </li>
              </ul>
              </span>
          </div>
      </div>
  </div>
    {% include analytics.html %}
  </body>
</html>
