<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <!-- Favicon  -->
    <link rel="icon" href="{{ site.baseurl }}/img/core-img/favicon.ico">
    
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/core-style.css">-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    {% include header.html %}
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <!-- ##### Right Side Cart End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    {% include jumbotron.html %}
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Top Catagory Area Start ##### -->
    {% include front-category-banner.html %}
    <!-- ##### Top Catagory Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <div class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content bg-img background-overlay" style="background-image: url(img/bg-img/bg-5.jpg);">
                        <div class="h-100 d-flex align-items-center justify-content-end">
                            <div class="cta--text">
                                <h6>Mulai dari <u>Rp 149.000,-</u></h6>
                                <h2>CUSTOM TEAMWEAR</h2>
                                <a href="#" class="btn essence-btn">BUAT SEKARANG <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### New Arrivals Area Start ##### -->
    {% include front-products-showcase.html %}
    <!-- ##### New Arrivals Area End ##### -->

    <!-- ##### Brands Area Start ##### -->
    {% include front-brands.html %} 
    <!-- ##### Brands Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    {% include footer.html %}
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{{ site.baseurl }}/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="{{ site.baseurl }}/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="{{ site.baseurl }}/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="{{ site.baseurl }}/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="{{ site.baseurl }}/js/active.js"></script>

    {% include analytics.html %}
  </body>
</html>
