---
layout: default
---

<div class="single-blog-wrapper">

    <!-- Single Blog Post Thumb -->
    <div class="single-blog-post-thumb {{page.path}}">
        {% if page.image %}
            <img src="{{site.baseurl}}{{page/image}}" alt="{{page.title}}" class="w-100">
        {% else %}
            <img src="img/bg-img/bg-8.jpg" alt="{{page.title}}" class="w-100">
        {% endif %}
        <div class="select-box d-flex mt-50 mb-30">
            <select name="select" id="productSize" class="mr-5">
                <option value="value">Bulan</option>
            </select>
            <div class="nice-select mr-5" tabindex="0">
                    <span class="current">Bulan</span>
                    <ul class="list">
                            <li data-value="value" class="option">Maret 2019</li>
                    </ul>
            </div>
            <select name="select" id="productColor" style="display:none">
                <option value="value">Tanggal</option>
            </select>
            <div class="nice-select" tabindex="0">
                <span class="current">1</span>
                <ul class="list">
                        <li data-value="value" class="option selected">2</li>
                </ul>
            </div>
        </div>
        <div class="cart-fav-box d-flex align-items-center">
            <!-- Cart -->
            <a href="https://wa.me/{{ site.wa }}/?text=Admin, saya mau pesan {{ page.title }}" class="btn essence-btn">Book Sekarang <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="regular-page-content-wrapper section-padding-80">
                    <div class="regular-page-text">
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
