---
layout: default
---

<section class="single-blog-wrapper">

    <!-- Single Blog Post Thumb -->
    <div class="single-blog-post-thumb position-relative">
        {% if page.image %}
            <img src="{{site.baseurl}}{{page/image}}" alt="{{page.title}}" class="w-100">
        {% else %}
            <img src="img/bg-img/bg-8.jpg" alt="{{page.title}}" class="w-100">
        {% endif %}
        {% if page.path == "book.md"%}
        <div class="d-flex position-absolute justify-content-center align-items-center" style="top:0;bottom:0;left:0;right:0">
            <div class="text-center p-5" style="background-color: rgba(255, 255, 255, 0.95);border-radius: 5px;">
                <h4 class="mb-30">LETS START THE GAME</h4>
                <div class="d-flex select-box">
                    <select name="select" id="bulan" class="mr-1">
                        <option value="value">Bulan</option>
                    </select>
                    <div class="nice-select mr-1" tabindex="0">
                            <span class="current">Bulan</span>
                            <ul class="list">
                                    <li data-value="value" class="option">Maret 2019</li>
                            </ul>
                    </div>
                    <select name="select" id="tanggal" class="mr-1">
                        <option value="value">Tanggal</option>
                    </select>
                    <div class="nice-select mr-1" tabindex="1">
                        <span class="current">Tanggal</span>
                        <ul class="list">
                                <li data-value="value" class="option selected">2</li>
                        </ul>
                    </div>
                    <select name="select" id="sesi" class="mr-1">
                        <option value="value">Sesi</option>
                    </select>
                    <div class="nice-select mr-1" tabindex="2">
                        <span class="current">Sesi</span>
                        <ul class="list">
                                <li data-value="value" class="option selected">Pagi</li>
                                <li data-value="value" class="option selected">Siang</li>
                                <li data-value="value" class="option selected">Sore</li>
                                <li data-value="value" class="option selected">Malam</li>
                        </ul>
                    </div>

                    <div class="cart-fav-box d-flex align-items-center">
                        <a href="https://wa.me/{{ site.wa }}/?text=Admin, saya mau pesan {{ page.title }}" class="btn essence-btn" style="height: 42px;line-height: 40px;border-radius: 5px;">Book Sekarang <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="menuju-lokasi"><i class="fas fa-map-marked-alt"></i></a>
        {% endif %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">FASILITAS</h2>
                <p>
                    SABNANI PARK terletak di BSD. Lapangan mini soccer dan futsal kami adalah yang terbaik di kelasnya. Dilengkapi dengan mini tribune membuat pengalaman bermain sepakbola semi professional anda menjadi nyata.
                </p>
                <ul class="d-flex justify-content-center">
                    <li>
                        <i class="fas fa-school"></i>
                        <span>Sekolah Sepakbola</span>
                    </li>
                    <li>
                        <i class="fas fa-parking"></i>
                        <span>Parkir Mobil</span>
                    </li>
                    <li>
                        <i class="fas fa-toilet-paper"></i>
                        <span>Toilet</span>
                    </li>
                </ul>
            </div>    
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="regular-page-content-wrapper section-padding-80">
                    <div class="regular-page-text">
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">GALLERY</h2>

            </div>    
        </div>
    </div>
</section>
