---
layout: default
---

<style>
    .menuju-lokasi{
        display: block;
        background: #fff;
        padding: 1rem;
        position: absolute;
        bottom: -50px;
        border-radius: 50%;
        left: 50%;
        margin-left: -50px;
        width: 100px;
        height: 100px;
        text-align: center;
        bottom:-50px;
        left:50%;
        /*box-shadow: 0px 0px 20px rgb(0,0,0,0.25);*/
    }
    .menuju-lokasi i{
        font-size: 36px;
        color: orange;
        top: 10px;
    }
    #fasilitas p{
        font-size: 18px;font-weight: 300;margin-bottom: 50px;
    }
    #fasilitas .fasilitas-icon li{
        background: #fff;
        box-shadow: 0px 0px 5px #ccc;
        margin-right: 0rem;
    }
    #fasilitas .fasilitas-icon .fas{
        font-size: 64px;
        color: orange;
    }
</style>
<section class="single-blog-wrapper">

    <!-- Single Blog Post Thumb -->
    <div class="single-blog-post-thumb position-relative">
        {% if page.image %}
            <img src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}" class="w-100">
        {% else %}
            <img src="img/bg-img/bg-8.jpg" alt="{{page.title}}" class="w-100">
        {% endif %}
        {% if page.path == "book.md"%}
        <div class="d-flex position-absolute justify-content-center align-items-center" style="top:0;bottom:0;left:0;right:0">
            <div class="text-center p-5" style="background-color: rgba(255, 255, 255, 0.95);border-radius: 5px;">
                <h4 class="mb-30">LETS START THE GAME</h4>
                <div class="d-flex select-box">
                    <select name="select" id="bulan" class="mr-1">
                        <option value="value">Bulan</option>
                    </select>
                    <div class="nice-select mr-1" tabindex="0">
                            <span class="current">Bulan</span>
                            <ul class="list">
                                    <li data-value="value" class="option">Maret 2019</li>
                            </ul>
                    </div>
                    <select name="select" id="tanggal" class="mr-1">
                        <option value="value">Tanggal</option>
                    </select>
                    <div class="nice-select mr-1" tabindex="1">
                        <span class="current">Tanggal</span>
                        <ul class="list">
                                <li data-value="value" class="option selected">2</li>
                        </ul>
                    </div>
                    <select name="select" id="sesi" class="mr-1">
                        <option value="value">Sesi</option>
                    </select>
                    <div class="nice-select mr-1" tabindex="2">
                        <span class="current">Sesi</span>
                        <ul class="list">
                                <li data-value="value" class="option selected">Pagi</li>
                                <li data-value="value" class="option selected">Siang</li>
                                <li data-value="value" class="option selected">Sore</li>
                                <li data-value="value" class="option selected">Malam</li>
                        </ul>
                    </div>

                    <div class="cart-fav-box d-flex align-items-center">
                        <a href="https://wa.me/{{ site.wa }}/?text=Admin, saya mau pesan {{ page.title }}" class="btn essence-btn" style="height: 42px;line-height: 40px;border-radius: 5px;">Book Sekarang <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="menuju-lokasi position-absolute"><i class="fas fa-map-marker-alt position-relative"></i></a>
        {% endif %}
    </div>
</section>
{% if page.path == "book.md"%}
<section id="fasilitas" class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-5 mb-3">FASILITAS</h2>
                <p class="text-center">
                    SABNANI PARK terletak di BSD. Lapangan mini soccer dan futsal kami adalah yang terbaik di kelasnya. Dilengkapi dengan mini tribune membuat pengalaman bermain sepakbola semi professional anda menjadi nyata.
                </p>
                <ul class="fasilitas-icon d-flex justify-content-center">
                    <li class="d-block text-center flex-fill p-5">
                        <i class="d-block fas fa-school mb-3"></i>
                        <strong>SOCCER SCHOOL</strong>
                    </li>
                    <li class="d-block text-center flex-fill p-5">
                        <i class="d-block fas fa-parking mb-3"></i>
                        <strong>CARK PARK</strong>
                    </li>
                    <li class="d-block text-center flex-fillp-5">
                        <i class="d-block fas fa-mosque mb-3"></i>
                        <strong>MUSHOLLA</strong>
                    </li>
                    <li class="d-block text-center flex-fill p-5">
                        <i class="d-block fas fa-store mb-3"></i>
                        <strong>ALFAMART</strong>
                    </li>
                    <li class="d-block text-center flex-fill p-5">
                        <i class="d-block fas fa-baby mb-3"></i>
                        <strong>NURSERY ROOM</strong>
                    </li>
                    <li class="d-block text-center flex-fill p-5">
                        <i class="d-block fas fa-toilet-paper mb-3"></i>
                        <strong>TOILET</strong>
                    </li>
                </ul>
            </div>    
        </div>
    </div>
</section>
<section id="gallery" class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-3">GALLERY</h2>
                <div id="gallery">
                    {% assign images = page.gallery %}
                    {% for image in images %}
                    <a href="#">
                        <img src="{{site.baseurl}}{{image}}" />
                    </a>
                    {% endfor %}
                </div>
            </div>    
        </div>
    </div>
</section>
{% endif %}
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="regular-page-content-wrapper section-padding-80">
                    {% if page.path == "book.md"%}
                    <div class="regular-page-text text-center">
                    {% else %}
                    <div class="regular-page-text">
                    {% endif %}
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
