---
layout: default
---

{% assign current_cat = page.permalink | split: "/" | last %}
{% if current_cat != "product" %}
    {% assign products = site.product | where: "categories", current_cat | sort:"date" | reverse %}
{% else %}
    {% assign products = site.product | sort:"date" | reverse %}
{% endif %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url({{site.baseurl}}/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>{{ current_cat }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80" style="padding-top:40px">
    <div class="container">
        <div class="row">
            
            <div class="col-12 col-md-12 col-lg-12">    
                <!-- content -->
                <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span>{{ products | size }}</span> products found</p>
                                    </div>
                                    <!-- Sorting -->
                                    <div class="product-sorting d-none">
                                        <p>Sort by:</p>
                                        <form action="#" method="get">
                                            <select name="select" id="sortByselect">
                                                <option value="value">Highest Rated</option>
                                                <option value="value">Newest</option>
                                                <option value="value">Price: $$ - $</option>
                                                <option value="value">Price: $ - $$</option>
                                            </select>
                                            <input type="submit" class="d-none" value="">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            {% for item in products %}
                            <!-- Single Product -->
                            <div class="col-6 col-sm-6 col-lg-4">
                              <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{{item.cover}}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="https://u.imageresize.org/v2/0b2bc959-1570-4180-b8a3-f05c32039701.jpeg" alt="">
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span class="d-none">topshop</span>
                                    <a href="{{ item.permalink }}">
                                        <h6>{{ item.title }}</h6>
                                    </a>
                                    <p class="product-price">Rp {{ item.price }}</p>
                                </div>
                              </div>
                            </div>

                           {% endfor %}
                      </div>
                  </div>
                
                <!-- // eo content -->
                
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">21</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ##### Shop Grid Area End ##### -->
