---
layout: default
---

<style>
    .product-description img{
        display:none;
    }
</style>

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url({{site.baseurl}}/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <a href="{{site.url}}" class="fas fa-futbol"></a> <span>&middot;</span> <a href="{{site.baseurl}}/product/">ALL PRODUCTS</a> <span>&middot;</span> <a href="{{site.baseurl}}/product/{{page.categories}}">{{ page.categories }}</a> <span>&middot;</span> <span>{{ page.title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="container single_product_details_area d-flex">

    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators"></ol>
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{{site.baseurl}}{{page.image}}" class="d-block w-100"  />
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <i class="fas fa-chevron-left"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <i class="fas fa-chevron-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <span>{{ page.brand }}</span>
        <a href="cart.html">
            <h2>{{ page.title }}</h2>
        </a>
        {% if page.saleprice %}
            <p class="product-price"><span class="old-price">Rp {{ page.price }}</span> Rp {{ page.saleprice }}</p>
        {% else %}
            <p class="product-price">Rp {{ page.price }}</p>
        {% endif %}
        <div class="product-description">
            {{ content }}
        </div>

        <!-- Form -->
        <form class="cart-form clearfix" method="post">
            <!-- Select Box -->
            <div class="select-box d-flex mt-50 mb-30">
                <select name="select" id="productSize" class="mr-5">
                    {% assign sizes = page.size %}
                    {% for size in sizes %}
                    <option value="value">Size: {{size}}</option>
                    {% endfor %}
                </select>
                <div class="nice-select mr-5" tabindex="0">
                        <span class="current">Size: {{sizes[0]}}</span>
                        <ul class="list">
                            {% for size in sizes %}
                                <li data-value="value" class="option">Size: {{size}}</li>
                            {% endfor %}
                        </ul>
                </div>
                {% assign colors = page.color %}
                <select name="select" id="productColor" style="display:none">
                    {% for color in colors %}
                    <option value="value">Color: {{color}}</option>
                    {% endfor %}
                </select>
                <div class="nice-select" tabindex="0">
                    <span class="current">Color: {{colors[0]}}</span>
                    <ul class="list">
                        {% for color in colors %}
                            <li data-value="value" class="option selected">Color: {{color}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                <a href="https://wa.me/{{ site.wa }}/?text=Admin, saya mau pesan {{ page.title }}" class="btn essence-btn">Pesan Sekarang <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </form>
    </div>
</section>
